{% extends 'pages/page_detail.html' %}

{% load menu_tags %}
{% load thumbnail %}
{% load i18n %}

{% block extra_head %}
<style type="text/css">
table .description { font-size: smaller; }
table .price { width: 50px; }
</style>
{% endblock %}

{% block body %}
<h1>{% trans 'Menu' %}</h1>

{% for category in request|menu_categories %}
    <h2>{{ category }}</h2>
    
    <table class="table">
    {% for dish in category.dish_set.all %}
        <tr>
            <td class="image">
                {% if dish.image %}
                <img src="{% thumbnail dish.image 100x100 crop %}" alt="{{ dish }}" />
                {% endif %}
            </td>
            <td class="dish">
                {{ dish }}
                <span class="description">
                    {{ dish.description|safe }}
                </span>
            </td>
            <td class="price">
                &euro;{{ dish.sale_price_euros }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{% endblock %}
