{% extends 'pages/base.html' %}

{% block head_title %}{{ page }}{% endblock %}

{% block body_class %}carousel-position-{{ page.carousel_position }}{% endblock %}

{% block body %}
    {% if page.carousel_position == 0 %}
        {% include 'pages/_carousel.html' %}
    {% endif %}

    <h1>{{ page }}</h1>
    {{ page.body|safe }}
    
    {% if page.carousel_position == 1 %}
        {% include 'pages/_carousel.html' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if page.carousel_position == 2 %}
        {% include 'pages/_carousel.html' %}
    {% endif %}

    {% for b in blocks %}
        {% include b.template with object=b %}
    {% endfor %}
    
    {% if page.carousel_position == 3 %}
        {% include 'pages/_carousel.html' %}
    {% endif %}
{% endblock %}


