
@import "bootstrap/less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

@icon-font-path: 'bootstrap/fonts/';

@font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:          16px;
@line-height-base:        2;

h1 {
    margin-top: 0;
}

.header {
    height: 400px;
}
