<!DOCTYPE html>
{% load compress i18n static thumbnail %}
<html>
    <head>
        <title>Le Pescator - {% block head_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# All less css goes in static/main.less, this handles it #}
        {% if settings.COMPRESS_ENABLED %}
            {% compress css %}
                <link href="{% static 'main.less' %}" charset="utf-8" media="screen" type="text/less" rel="stylesheet">
            {% endcompress %}
        {% else %}
            <link href="{% static 'main.less' %}" charset="utf-8" media="screen" type="text/less" rel="stylesheet">
            <script type="text/javascript">less = {}; less.env = 'development';</script>
            <script type="text/javascript" src="{% static 'less/less.js' %}" ></script>
        {% endif %}

        {% compress css %}{# External apps css go here #}
        <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
        {% endcompress %}

        {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
        <!--[if lt IE 9]>
          {% compress js %}
          <script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
          <script src="{% static 'bootstrap/assets/js/respond.min.js' %}"></script>
          {% endcompress %}
        <![endif]-->
        
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="container">
            <div class="header" style="background-image: url('{% block header_image %}{% static 'images/header.jpg' %}{% endblock %}');">
                {% if other_languages %}
                <ul class="nav navbar-nav navbar-right">
                    {% for item in other_languages.values %}
                    <li class="{% if item.url == request.path %}active{% endif %}"><a href="{{ item.url }}">{{ item.language }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Le Pescator</a> -->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for item in menu %}
                        <li class="{% if item.url == request.path %}active{% endif %}">
                            <a href="{{ item.url }}" title="{{ item.title }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
            
            <div class="row body">
                <div class="col-md-8">
                    {% block body %}
                    {% endblock %}
                </div>

                <div class="col-md-4">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>

            <div class="row footer">
                <ul>
                    {% for item in footer %}
                    <li>
                        <a href="{{ item.url }}" title="{{ item.title }}">{{ item.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% compress js %}{# All js go here #}
        <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
        <script type="text/javascript" src="{% static 'autocomplete_light/widget.js' %}"></script>
        <script type="text/javascript" src="{% static 'autocomplete_light/addanother.js' %}"></script>
        <script type="text/javascript" src="{% static 'autocomplete_light/text_widget.js' %}"></script>
        {% include 'autocomplete_light/_ajax_csrf.html' %}
        {% endcompress %}

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "89326957-fa6e-4552-a0b4-ccf053b7ca37", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

        {% block extra_body %}{% endblock %}
    </body>
</html>
